* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #007D98;
  --secondary: #335C64;
  --border: #355C64;
  --white: #ffffff;
  --danger: #e53935;

  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: var(--secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,textarea {
  font-family: inherit;
  outline: none;
}

input:focus {
  border-color: var(--primary);
}
