.footer {
  margin-top: 48px;
  background: #F7F9F6;
  padding: 15px 80px;
  color: #335c64;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 30px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-logo {
  width: 100px;
}

.footer-brand-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
}

.footer-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 15px;
}

.footer-item svg {
  color: #335c64;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.footer-item.location span {
  line-height: 1.6;
}


@media (max-width: 768px) {
  .footer {
    padding: 40px 24px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
